:root {
	--white: #b8b6b6;
	--black: #1e1e1e;
	--WhiteNotdarkMode: #e1e1e1;

	--HeaderBackGroundColor: var(--black); 
	--HeaderBoxShadow: var(--white);
	--WhiteHeaderBoxShadow : #8783f5;
	--HeaderNavigationalButtonBackkground: var(--white);
	--CheckboxLayerBackgroundColor: var(--white);
	--CheckboxKnobsAfter: var(--white);
	--CheckboxKnobsSpanColor: var(--black);
	--CheckboxCheckKnobs: var(--black);
	--CheckboxCheckedLayer: #8783f5;


	--IndexBordoCorniceColor: #00000000;
	--IndexOutlinerCorniceColor: var(--white);
	--IndexBackgroundCornice1: #00000000;
	--IndexBackgroundCornice2: var(--white);

	--TimelineBackgroundColor: var(--white);
	--TimelineEventBackgroundcolor: #a93279;
	--TimelineEventIconBackgroundcolor: var(--black);
	--TimelineEventIconOutliner: var(--white);
	--TimelineEventThubnailsColor: var(--white);
	--TimelineEventThubnailsBackGroundcolor: var(--black);
	--TimelineEventThubnailsOutliner: var(--white);
	--TimelineEventBoxShadow: #ef7a5d;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font: normal 18px 'Open Sans', sans-serif;
	background: var(--HeaderBackGroundColor);
	color: var(--white);
}