/* ******************************************* */
/* Foto + descrizione */
/* ******************************************* */
.center {
	position: relative;
	text-align: center;
}

.center>.divfoto {
	width: 495px;
	height: 690px;
	display: inline-block;
}

.center>.divfoto>.cornice {
	--s: 15px;
	padding: var(--s);
	border: calc(2 * var(--s)) solid var(--IndexBordoCorniceColor);
	outline: 2px solid var(--IndexOutlinerCorniceColor);
	outline-offset: calc(-1 * var(--s));
	background: conic-gradient(from 90deg at 2px 2px, var(--IndexBackgroundCornice1) 25%, var(--IndexBackgroundCornice2) 0);
	height: 600px;
}

.center>.divfotoTesto {
	width: 495px;
	height: 690px;
	display: inline-block;
}