.timeline {
	list-style-type: none;
	margin-left: 600px;
	position: relative;
}

.timeline:before {
	background-color: var(--TimelineBackgroundColor);
	content: "";
	margin-left: -10px;
	position: absolute;
	top: 0;
	left: 2em;
	width: 3px;
	height: 100%;
}

.timeline-event {
	position: relative;
}

.timeline-event-icon {
	transition: transform 0.2s ease-in;
	transform: rotate(45deg);
	background-color: var(--TimelineEventIconBackgroundcolor);
	outline: 5px solid var(--TimelineEventIconOutliner);
	display: block;
	margin: 0.1em 0.1em 0.1em -0.1em;
	position: absolute;
	top: 0;
	left: 2em;
	width: 1em;
	height: 1em;
}

.timeline-event:hover .timeline-event-icon {
	transform: rotate(-45deg);
	background-color: var(--TimelineEventBackgroundcolor);
}

.timeline-event:hover .timeline-event-thumbnail {
	box-shadow: inset 40em 0 0 0 var(--TimelineEventBackgroundcolor);
}

.timeline-event-copy {
	padding: 2em;
	position: relative;
	top: -1.875em;
	left: 4em;
	width: 80%;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
	padding-bottom: 1.2em;
}

.timeline-event-thumbnail {
	transition: box-shadow 0.5s ease-in 0.1s;
	color: var(--TimelineEventThubnailsColor);
	background-color: var(--TimelineEventThubnailsBackGroundcolor);
	outline: 1px solid var(--TimelineEventThubnailsOutliner);
	box-shadow: inset 0 0 0 0em var(--TimelineEventBoxShadow);
	display: inline-block;
	margin-bottom: 1.2em;
	padding: 0.25em 1em 0.2em 1em;
}

.descrizioneTemporale{
	max-width: 75%;
	font-size: 30px;
}